* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  background-color: #eee;
  display: grid;
  margin: auto;
}

.container {
  position: relative;
  word-wrap: break-word;
  word-break: break-all;
}

#title {
  text-align: center;
  margin-top: 20px;
  word-wrap: break-word;
  word-break: break-all;
}

#description {
  text-align: center;
  margin-bottom: 20px;
  word-wrap: break-word;
  word-break: break-all;
}

#legend {
  position: absolute;
  right: 10px;
  top: 130px;
  background-color: #ffffff;
}

.game {
  font-size: 10px;;
}

#tooltip {
  position: absolute;
  background-color: steelblue;
  color: #ffffff;
  padding: 10px;
}